
.navbar-nav{
    .nav-link{
color: $asico !important;
size: 30px !important;
text-align: center;
align-items: center;
}
}
.meu{
    ul{
 background-color: $colorsecu;
 color: $asico;
 font-size: 18px;
 font-family: sans-serif;
 li{
background-color: $colorsecu;
color: $asico;
font-size: 18px;
font-family: sans-serif;
 a{
background-color: $colorsecu;
color:$asico;
font-size: 18px;
font-family: sans-serif;
} 
}
}
}

