@import "header";
@import "contacto";
@import "variales";
   
@keyframes aparecer {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
 }


.preg1 {
    h2{
background-color:$colorpri;
font-size: 25px;
font-family:'Ramaraja', serif;
background-color:white;
padding: 10px 10px;
text-align: center;}

}

@each $copa, $color in $copado {
    .btn--#{$copa} {
        background-color: $color;
    }
 }
 