.col-12.titulo{
    background-color: greenyellow;
}
.logo{
    background-color: rgb(196, 20, 20);;
}
.container-fluid.me{
background-color: rgb(196, 20, 20);;
}
 .meu ul{
     background-color: rgb(196, 20, 20);
     color: white;
     font-size: 18px;
     font-family: sans-serif;
 } 
 .meu ul li{
    background-color: rgb(196, 20, 20);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
} 
.meu ul li a{
    background-color: rgb(196, 20, 20);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
} 
.nav-item{
    background-color: rgb(196, 20, 20);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}
.nav-link{
    background-color: rgb(196, 20, 20);
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}
.row.def{
    background-color:rgb(106, 209, 106);
}
.col-12{
    background-color:rgb(106, 209, 106);
}
.preg1 h2{
    background-color:rgb(106, 209, 106);
    font-size: 25px;
    font-family:'Ramaraja', serif;
    background-color:white;
    padding: 10px 10px;
    text-align: center;

}
.def1{
    font-size: 25px;
    font-family:'Ramaraja', serif;
    position: relative;
    padding: 10px 10px;
}
.def2{
    font-size: 20px;
    font-family:'Ramaraja', serif;
    background-color:rgb(106, 209, 106);

}

.carousel.slide{
    width: 500px;
    height: 500px;
    position: relative;
    left: 350px;
}
.parrafoex{
    font-size: 20px;
    font-family:'Ramaraja', serif;
    background-color:rgb(106, 209, 106);
}
.col-6.preg{
    font-size: 55px;
    font-family:'Ramaraja', serif;
    background-color:white;
    padding: 10px 10px;
    text-align: center;
    justify-content: space-between;
}
.col-6.lista{
    font-size: 20px;
    font-family:'Ramaraja', serif;
    background-color:rgb(252, 201, 74);
    padding: 10px 10px;
    text-align: center;
    justify-content: space-between;
}
.col-6.texto{
    font-size: 20px;
    font-family:'Ramaraja', serif;
    background-color:aquamarine;
    padding: 10px 10px;
    justify-content: space-between;
}
.col-12.fi{
    font-size: 15px;
    font-family:'Ramaraja', serif;
    background-color:rgb(229, 127, 255);
    padding: 10px 10px;
    justify-content: space-between;
}